<div>
  <ul>
    <li *ngFor="let endpoint of endpointService.list">
      {{ endpoint.name }}
      {{ endpoint.url }}
      <div *ngIf="endpoint.assets.length > 0">
        <h3>Assets</h3>
        <ul>
          <li *ngFor="let asset of endpoint.assets">
            {{ asset.symbol }}
            <button
              (click)="
                endpointService.deleteEndpointAsset(endpoint.id, asset.symbol)
              "
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
